
// Body
$body-bg: #f5f8fa;

// Typography
$font-title: 'Kaushan Script', cursive;
$font: 'Lato', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;

$jumbo-title: rgba(255,255,255,0.9);
$jumbo-font: 'Cutive Mono', monospace;


