
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Header 

.navbar-laravel {
  background-color: #004D40;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar {
	padding: 0px;
}

.navbar-light .navbar-nav .nav-link {
	color: #E0F2F1;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: white;
}

// Footer 

footer {
	 background-color: #004D40;
}