
// Fonts
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

// Variables
@import "variables";


// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Header 

.navbar-laravel {
  background-color: #1B4C51;
  padding: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
	color: #B2DFDB;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
	color: white;
}

.linknavbar {
	text-align: center;
	width: 120px;
}

.navbar-brand {
	width: 140px;
	margin: 0px
}


// Footer 

footer {
	 background-color: #1B4C51;
	 padding-top: 25px;
	 padding-bottom: 25px;
}

.footerlink {
	text-decoration: none;
	color: #B2DFDB;
}

.footerlink:hover {
	text-decoration: none;
	color: white;
}

.logofooter {
	width: 35px;
	height: 35px; 
	margin: 20px 5px 20px 5px;
}


// Page admin

#adminform {
	margin-top: 100px;
	margin-bottom: 100px;
}

#admininfo {
	background-color: white;
	padding: 30px 25px;
	margin-bottom: 0px;
}

#adminformup {
	background-color: #138496;
	color: white;
	font-weight: bold;
	font-size: 18px;
	height: 55px;
	line-height: 55px;
}

.btn-info {
	background-color: #138496;
	margin-top: 10px;
}

.btn-info:hover {
	background-color: #17a2b8;
	border-color: #17a2b8;
}


//Landing Page - Jumbotron
body {
	font-family: $font;
}

#jumbo-tree {

  filter: blur(15px);
  width: 100vw;
  min-width:1100px;
  z-index: -1;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px; 
  padding: 0px;
}


.lead {
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1;
}

.jumbotron {
	background: transparent;
	margin-top: 0px;
	color: white;
	height: 600px;
}

.jumbo-description {
	font-size: 1.1em;
	margin-top: 9%;	
}

.btn-lg {
	margin-top: 50px;
	width: 400px;
	padding: 50px;
	border-radius: 1.3em;
	mix-blend-mode: color-dodge;
}


//Landing page - Explications

.grey {
	
	padding: 5em 1em;
	background-color: #F5F5F5;
	text-align: center
}

h2, .lead-title, .lead-subtitle {
	font-family: $font-title;

	.lead-title {
		font-size: 35px;
	}

	.lead-subtitle {
		font-size: 25px;
	}

}


// Page gestion users/classes/jobs

#pageactive {
	box-shadow: 0px 0px 10px rgba(19, 132, 150, 0.9);
}

.administration {
	margin-top: 15px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
	border-radius: 20px;
	margin-left: 15px;
	margin-right: 15px;
	height: 40px;
	line-height: 40px;
	test-decoration: none;
	color: black;
	transition-property: transform;
	transition-duration: 0.6s;
}

.administration:hover {
	text-decoration: none; 
	color: black;
	transform: scale(1.1);
}






// Page contact

#map {
	width: 100%;
	height: 400px;
}

.formulaire-contact {
  margin-top: 2em;
}


.formulaire-contact:hover {
  -webkit-transform: scale(1.05);
  transition: .3s ease-in-out;
  -webkit-box-shadow: 4px 4px 15px -20px rgba(0,121,107,1);

}

.etoile {
	color: red;
}

label {
  font-family: $font;
}


#success-message {


#success-message {
	color:  #00796B;
}

.address {
	color: #26A69A;
	font-family: $font;
	background-color: white;
	height: 30px;
}

#adress {
	color: #26A69A;
}



// Media-queries


@media screen and (max-width: 991px)
{
    .navbar-laravel {
  		padding: 10px;
	}

}

}


